@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    1100 South St. Francis Drive
    Santa Fe, NM 87504
    <abbr title="Phone">P:</abbr>
    (505) 827-0700
    *Use this number for general inquiries. See below for additional contact numbers.
</address>
