@{
    ViewData["Title"] = "Home Page";
}

    <div class="content">
        <div class="container">
            
                <h1 class="display-info-3">New Mexico In-state Preference Business/Contractor Certificate Validation</h1>

            <hr>


            <p>Welcome to the New Mexico In-state Preference Business/Contractor Certificate Validation application.</p><hr><p></p>
           



        </div>
    </div>
