@{
    ViewData["Title"] = "Home Page";
}

    <div class="content">
        <div class="container">
            
                <h1 class="page-title">New Mexico In-state Preference Business/Contractor Certificate Validation</h1>

            <hr>

            <p class="lead">Welcome to the New Mexico In-state Preference Business/Contractor Certificate Validation application.</p>
            
            <hr>
            <p></p>

            <div class="col-sm-8 pl-0">
                <h2>Please provide the following information:</h2>
                <p>
                    To determine the validity of a certificate, just enter the following information. Be sure to enter the information exactly as it appears on the certificate including punctuation,
                    or you may get an invalid search result.
                </p>
                <p>For questions regarding in-state preference certification, please call (505) 827-0951.</p>
                <div class="form-group">

                </div>
            </div>

        </div>
    </div>
