/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    font-family: "Open Sans", sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

.page-title {
    font-size: 60px;
    color: #16a1b8;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.header img {
    margin-bottom: 30px;
}

.content > div {
    max-width: 66%;
}

footer div > div {
    border: 5px solid pink;
    display: flex;
}
footer div p {
    font-size: .9em;
    display: inline-block;
}

footer div ul {
    list-style-type: none;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #16a1b8;
}